<mat-toolbar color="primary" class="box-shadow tool-bar">
    <mat-toolbar-row>
        <a routerLink="" class="home-icon"> <button mat-icon-button color="white">
                <mat-icon>home</mat-icon>
            </button>
        </a>
        <div>
            <ul>
                <li *ngFor="let dataSet of dataSets; let i = index">
                    <a routerLink="/graph"><button mat-stroked-button color="accent" (click)="broadcast(i)">{{dataSet.dataSetName}}</button></a>
                    <a><i (click)="deleteDataSet(i)" class="material-icons">clear</i></a>
                </li>
                <li>
                    <a routerLink="inputform"> <button mat-icon-button>
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>