li {
    display: inline-block;
    margin-right: 1em;
}
ul {
    overflow: auto;
    border-left: 1px solid white;
}

i {
    cursor: pointer;
}

i:hover {
    color: #e577b3;
}

// button:focus {
//     background: white;
// }