.example-container {
    min-width: 150px;
    width: 80%;
    padding: 2em;
  }

  mat-form-field {
      width: 100%;
  }

  .series-entry {
      background: white;
      border-radius: 10px;
      padding: 10px;
  }