<div class="example-container">

  <mat-form-field>
    <input [(ngModel)]="dataSetName" matInput placeholder="Data Set Name">
  </mat-form-field>

  <div class="series-entry">
    <mat-form-field>
      <input [(ngModel)]="newLabel" matInput placeholder="Series Label">
    </mat-form-field>

    <mat-form-field>
      <textarea [(ngModel)]="newData" matInput placeholder="Series Data"></textarea>
    </mat-form-field>
  </div>

  <div class="x-axis-input">
      <mat-form-field>
          <input [(ngModel)]="xAxisInput" matInput placeholder="X Axis Units">
        </mat-form-field>
  </div>


  <button (click)="saveToDataService()" mat-stroked-button color="primary" routerLink="/graph">Save</button>
  <button (click)="genRandomSet()" mat-stroked-button color="accent">Generate Random Set</button>
</div>