/* You can add global styles to this file, and also import other style files */

@import"~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
    height: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 64px auto;
    grid-gap: .5em;
    padding: .5em;
}
.main {
    grid-column: 1/span 2;
    grid-row: auto;
    // border: 1px solid black;
    height: 100%;
}

.side {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    border: 1px solid black;
    height: 100%;
}

.display {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px solid black;
}

.display-status {
    display: none;
}
