/* You can add global styles to this file, and also import other style files */

@import"~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 64px auto;
}
.main {
    grid-column: 1/span 2;
    grid-row: auto;
    height: 100%;
}

.side {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    height: 100%;
    border-right: 1px solid rgb(175,175,175);
}

.display {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color:#f1f3f4 !important;
}

.display-status {
    display: none;
}

//global material design override
.mat-icon-button {
    color: white;
}

.box-shadow {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
}

.tool-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}